<div style="margin-top: 3rem;">
  <small>
    <i>
      Ces données peuvent être erronées, incomplètes ou obsolètes.
    </i>
    <a href="/a_propos">
      En savoir plus…
    </a>
  </small>
</div>
