---
title: Propriétaires des médias
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/simple.min.css">
    <link rel="stylesheet" href="/css/index.css">
    {# <link rel="stylesheet" href="/css/autocomplete.css"> #}
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="/">medias.wiki</a>
      </h1>
      <p>
        Qui possède les médias ?
      </p>
      {% if breadcrumbs %}
        <div class="breadcrumbs">
          <a href="/">Accueil</a>
          &raquo;
          {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb.url %}
              <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
            {% endif %}
            &raquo;
          {% endfor %}
          {{ nom }}
        </div>
      {% endif %}
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      medias.wiki
      <br/><br/>

      Plan du site:
      <a href="/#medias">Liste des médias</a> ·
      <a href="/#proprietaires">Liste des propriétaires</a> ·
      <a href="/a_propos">À propos</a> ·
      <a href="/toutes_les_relations">Toutes les relations</a>
      <br><br>

      Source des données : Le Monde Diplomatique & Wikidata
      <br>
      Dernière mise à jour en juillet 2023
      <br><br>

      <a href="https://github.com/adipasquale/medias_proprietaires" target="_blank">
        Code Source sur GitHub ↗︎
      </a>
      ·
      <a href="mailto:adrien@dipasquale.fr">Contact ✉️</a>

      <br><br>
      Construit avec <a href="https://www.11ty.dev/" target="_blank">Eleventy ↗︎</a>,
      <a href="https://simplecss.org/" target="_blank">Simple CSS ↗︎</a>
      et <a href="https://graphviz.org/" target="_blank">Graphviz ↗︎</a>,
      hébergé sur <a href="https://www.netlify.com/" target="_blank">Netlify ↗︎</a>
    </footer>

  </body>
</html>
