---
layout: default_layout
breadcrumbs:
  - name: Liste des médias
    url: /#medias
---

<div class="title-with-image">
  <h1>{{ nom }}</h1>

  {% if imagePath %}
    <img
      src="/{{ imagePath }}"
      alt="Logo {{ nom }}"
      class="small-image">
  {% endif %}
</div>

{% if mediaType == "GPE" %}
  Presse écrite ·
  {{ mediaPeriodicite }}
{% elif mediaType == "Site" %}
  Site internet d’information
{% elif mediaType == "Télévision" %}
  Chaîne de télévision
{% else %}
  {{ mediaType }}
{% endif %}

{% if mediaEchelle %}
  · {{ mediaEchelle }}
{% endif %}

{% if ACPMdiffusion %}
  · Diffusion plus de {{ ACPMdiffusion / 1000 | round(0) }} exemplaires
{% endif %}

<h3>Qui possède {{ nom }} ?</h3>

{% include "data_warning.njk" %}

<ul>
  {% for relation in incomingRelations  %}
    <li>
      {{ nom }}
      {% if relation.typeRelation == "possède" %}
        est possédé {% if relation.indirecte %} indirectement {% endif %} à {{ relation | displayRelationValeur }} par
      {% elif relation.typeRelation == "contrôle" %}
        est contrôlé {% if relation.indirecte %} indirectement {% endif %} à {{ relation | displayRelationValeur }} par
      {% elif relation.typeRelation == "participe" %}
        reçoit une participation {% if relation.indirecte %} indirecte {% endif %} de {{ relation | displayRelationValeur }} de
      {% endif %}

      <a href="/proprietaires/{{ relation.origine | slugify }}-{{ relation.id }}/">
        {{ relation.origine }}
      </a>
    </li>
  {% endfor %}
</ul>

{% include "relations_graph.njk" %}

{% include "wikidata.njk" %}
