---
layout: default_layout
breadcrumbs:
  - name: Liste des propriétaires
    url: /#proprietaires
---

<div class="title-with-image">
  <h1>{{ nom }}</h1>

  {% if imagePath %}
    <img
      src="/{{ imagePath }}"
      alt="Image de {{ nom }}"
      class="small-image">
  {% endif %}
</div>

{% include "data_warning.njk" %}

{%- set relationsCount = outgoingRelations | length %}

<h3>
  {{ nom | nomDansPhrase }} est lié{% if pronom == "Elle" %}e{% endif %}
  à {{ relationsCount }}
  média{% if relationsCount > 1 %}s{% endif %}
</h3>
<ul>
  {% for relation in outgoingRelations %}
    <li>
      {% if relation.typeRelation == "possède" %}
        {{ pronom or "Il" }} possède à {{ relation | displayRelationValeur }}
      {% elif relation.typeRelation == "contrôle" %}
        {{ pronom or "Il" }} contrôle à {{ relation | displayRelationValeur }}
      {% elif relation.typeRelation == "participe" %}
        {{ pronom or "Il" }} participe à hauteur de {{ relation | displayRelationValeur }} à
      {% endif %}

      <a href="/medias/{{ relation.cible | slugify }}-{{ relation.cibleId }}/">
        {{ relation.cible }}
      </a>
    </li>
  {% endfor %}
</ul>

{% include "relations_graph.njk" %}

{% include "wikidata.njk" %}
