---
layout: default_layout
breadcrumbs: true
---

<div class="title-with-image">
  <h1>{{ nom }}</h1>

  {% if imagePath %}
    <img
      src="/{{ imagePath }}"
      alt="Image de {{ nom }}"
      class="small-image">
  {% endif %}
</div>

{% if rangChallenges %}
  {{ rangChallenges }}<sup>ème</sup> fortune française selon Challenges
{% endif %}
{% if rangChallenges and milliardaireForbes %}·{% endif %}
{% if milliardaireForbes %}
  {{ milliardaireForbes }}<sup>ème</sup> fortune mondiale selon Forbes
{% endif %}

{%- set relationsCount = outgoingRelations | length %}

<div class="readable">
  {{ content | safe }}

  <p style="margin-top: 3rem;">
    {{ nom | nomDansPhrase }} est lié{% if pronom == "Elle" %}e{% endif %}
    à {{ relationsCount }}
    média{% if relationsCount > 1 %}s{% endif %}
  </p>
</div>

<ul>
  {% for relation in outgoingRelations %}
    <li>
      {% if relation.typeRelation == "possède" %}
        {{ nom }} possède à {{ relation | displayRelationValeur }}
      {% elif relation.typeRelation == "contrôle" %}
        {{ nom }} contrôle à {{ relation | displayRelationValeur }}
      {% elif relation.typeRelation == "participe" %}
        {{ nom }} participe à hauteur de {{ relation | displayRelationValeur }} à
      {% endif %}

      <a href="/medias/{{ relation.cible | slugify }}-{{ relation.cibleId }}/">
        {{ relation.cible }}
      </a>
    </li>
  {% endfor %}
</ul>

{% include "data_warning.njk" %}

{% include "relations_graph.njk" %}

{% include "wikidata.njk" %}
