{% if wikidata %}
  <div style="margin-top: 3rem;">
    <b>Liens externes</b>
    <ul>
      {% if wikidata.wikipediaUrl %}
        <li>
          <a href="{{ wikidata.wikipediaUrl }}" target="_blank">
            {{ nom }} sur Wikipedia ↗︎
          </a>
        </li>
      {% endif %}

      <li>
        <a href="https://www.wikidata.org/wiki/{{ wikidata.id }}" target="_blank">
          {{ nom }} sur Wikidata ↗︎
        </a>
      </li>
    </ul>
  </div>
{% endif %}
