---
layout: default_layout
bodyClass: large
---

<form action="#">
  <label for="autocomplete">Recherche</label>
  <div class="autocomplete-form">
    <div>
      <input id="autocomplete" placeholder="ex: Figaro, Xavier Niel" />
    </div>
    <div>
      <button type="button" id="clear-autocomplete" disabled="disabled">Effacer</button>
    </div>
  </div>
</form>

<div class="large-lists-wrapper">
  <div class="filterable-section medias">
    <h2 id="medias">Médias</h2>
    <ul class="large-list">
      {% for media in collections.media %}
        <li class="filterable" data-entity-nom="{{ media.data.nom }}">
          <a href="/medias/{{ media.data.slug }}/">
            {{ media.data.nom }}
            {% if media.data.ACPMdiffusion > 200000 %}
              ⭐️
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="filterable-section proprietaires">
    <h2 id="proprietaires">Propriétaires</h2>
    <ul class="large-list">
      {% for proprietaire in collections.proprietaire %}
        <li class="filterable" data-entity-nom="{{ proprietaire.data.nom }}">
          {% if proprietaire.data.nom %}
            <a href="/proprietaires/{{ proprietaire.data.slug }}/">
              {{ proprietaire.data.nom }}
            </a>
          {% else %}
            {{ proprietaire.fileSlug }}
          {% endif %}

          {% if proprietaire.data.typeLibelle != "Personne physique" %}
            🏢
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script src="js/fuse.min.js"></script>
<script src="/js/search.js"></script>
