---
layout: default_layout
bodyClass: large
---

<div class="head-section-with-image">
  <div class="image-wrapper">
    <img src="/img/logo-3-hommes.png">
    <div style="text-align: center; font-size:.8rem; font-style: italic; margin-top: .5rem; opacity: .6;">
      inspiré d’un
      <a href="https://larevuedesmedias.ina.fr/communication-et-religions-quelle-place-pour-les-medias-confessionnels" target="_blank">
        dessin de Méteigner ↗︎
      </a>
    </div>
  </div>
  <div class="content">
    <h1>Qui possède les médias ?</h1>
    <p class="readable">
      Ce site répertorie les liens de contrôle, de possession et d'influence entre les médias et leurs propriétaires. <a href="/a_propos">En savoir plus…</a>
    </p>
    <form action="#" onsubmit="return false;">
      <label for="autocomplete">Recherche</label>
      <div class="autocomplete-form">
        <div>
          <input id="autocomplete" placeholder="ex: Figaro, Xavier Niel" />
        </div>
        <div>
          <button type="button" id="clear-autocomplete" disabled="disabled">Effacer</button>
        </div>
      </div>
    </form>

  </div>
</div>

<div class="large-lists-wrapper">
  <div class="filterable-section medias">
    <h2 id="medias">Médias</h2>
    <ul class="large-list">
      {% for media in collections.media %}
        <li class="filterable" data-entity-nom="{{ media.data.nom }}">
          <a href="/medias/{{ media.data.slug }}/">
            {{ media.data.nom }}
            {% if media.data.ACPMdiffusion > 200000 %}
              ⭐️
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="filterable-section proprietaires">
    <h2 id="proprietaires">Propriétaires</h2>
    <ul class="large-list">
      {% for proprietaire in collections.proprietaire %}
        <li class="filterable" data-entity-nom="{{ proprietaire.data.nom }}">
          {% if proprietaire.data.nom %}
            <a href="/proprietaires/{{ proprietaire.data.slug }}/">
              {{ proprietaire.data.nom }}
            </a>
          {% else %}
            {{ proprietaire.fileSlug }}
          {% endif %}

          {% if proprietaire.data.typeLibelle != "Personne physique" %}
            🏢
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script src="js/fuse.min.js"></script>
<script src="/js/search.js"></script>
