body {
  grid-template-columns: 1fr min(80rem, 90%) 1fr;
}

body > footer {
  margin-top: 10rem;
  background-color: var(--accent-bg);
  grid-column: 1/-1;
}

header h1 {
  font-size: 1.2rem;
  font-family: Georgia, serif;
}
h1 a {
  color: var(--text) !important;
}
body > header {
  padding-bottom: .2rem;
}
body > header .breadcrumbs {
  margin-bottom: 1rem;
}

.autocomplete-form {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.small-image {
  max-width: 200px;
  max-height: 100px;
}

.title-with-image {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.title-with-image > h1 {
  margin-top: 0;
}

.data-warning {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.1);
  text-align: center;
}

main .data-warning {
  margin: 2rem 0;
}

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0 0 3rem 0;
}


ul.autocomplete-result-list {
  background-color: var(--bg);
  z-index: 10;
  padding: 1rem 0;
  list-style: none;
}
ul.autocomplete-result-list li {
  padding-bottom: 1rem;
}

/*
  homepage large lists layout
  1. SMALL : 1 column
  |     Médias    |
  |        -      |
  |        -      |
  | Propriétaires |
  |        -      |
  |        -      |

  2. MEDIUM : 2 columns
  |     Médias    | Propriétaires |
  |        -      |        -      |
  |        -      |        -      |

  3. LARGE : 3 columns
  |      Médias      | Propriétaires |
  |    -    |   -    |        -      |
  |    -    |   -    |        -      |


  3. EXTRA-LARGE : 4 columns
  |      Médias      |   Propriétaires  |
  |    -    |   -    |    -    |   -    |
  |    -    |   -    |    -    |   -    |
*/


.large-lists-wrapper {
  display: grid;
}

ul.large-list {
}

ul.large-list li {
  page-break-inside: avoid;           /* Theoretically for FF 20+ */
  break-inside: avoid-column;
  padding-bottom: .5rem;
}

/* MEDIUM */

@media (min-width: 30rem) {
  .large-lists-wrapper {
    grid-template-columns: 50% 50%;
  }
}

/* LARGE */
@media (min-width: 50rem) {
  .large-lists-wrapper {
    grid-template-columns: 66% 33%;
  }
  .medias ul.large-list {
    columns: 2
  }
  ul.large-list {
    columns: 1
  }
}


@media (min-width: 75rem) {
  .large-lists-wrapper {
    grid-template-columns: 50% 50%;
  }
  ul.large-list {
    columns: 2
  }
}


svg {
  max-width: 100%;
  height: auto;
}
@media (prefers-color-scheme: dark) {
  .graphviz text {
      fill: white;
  }
  .graphviz path,
  .graphviz ellipse {
      stroke: white;
  }
  .graphviz polygon[fill="white"] {
    fill: none;
  }
  .graphviz polygon[stroke="black"] {
      stroke: white;
  }
}

.readable {
  max-width: 40rem;
}
