body {
  grid-template-columns: 1fr min(80rem, 90%) 1fr;
}

h1 {
  font-size: 1.2rem;
  font-family: Georgia, serif;
}
h1 a {
  color: var(--text) !important;
}
body > header {
  padding-bottom: .2rem;
}

.autocomplete-form {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

pre.mermaid, pre.mermaid span{
  font-family: var(--sans-font);
}

.small-image {
  max-width: 200px;
  max-height: 100px;
}

.title-with-image {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.data-warning {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.1);
  text-align: center;
}

main .data-warning {
  margin: 2rem 0;
}

.wikidata-links {
  margin-top: 4rem;
}


ul.autocomplete-result-list {
  background-color: var(--bg);
  z-index: 10;
  padding: 1rem 0;
  list-style: none;
}
ul.autocomplete-result-list li {
  padding-bottom: 1rem;
}

ul.large-list li {
  page-break-inside: avoid;           /* Theoretically FF 20+ */
  break-inside: avoid-column;
}

@media (min-width: 25rem) {
  ul.large-list {
    columns: 2
  }
}

@media (min-width: 50rem) {
  ul.large-list {
    columns: 3
  }
}


@media (min-width: 75rem) {
  ul.large-list {
    columns: 4
  }
}
